<div class="container-fluid ">
  <div class="row ">
    <div class="bg-success offset-sm-0 col-md-6 offset-md-0">
      <div class="text-light col-sm-5 col-md-6">
        <h2>Faça seu login</h2>
        <p>Entre ou cadastre-se para modificar os produtos.</p>
      </div>
    </div>

    <div class="col-sm-6 offset-sm-2 col-md-6 offset-md-0">
      <div class="col-ms-6 col-sm-12">
        <div class="login-form">
          <form>
            <div class="form-group m-1">
              <label>E-mail</label>
              <input type="text" class="form-control" placeholder="E-mail">
            </div>
            <div class="form-group m-1">
              <label>Senha</label>
              <input type="password" class="form-control" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-dark m-2" (click)='entrar()'>Entrar</button>
            <button type="submit" class="btn btn-secondary m-2"routerLink='/cadastrar'>Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
