<footer class="page-footer fs-4 bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <h4 class="text-white">Repositório Github</h4>
            </div>
        </div>

        <div class="row">
            <div class=" d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/delis-edwirges/Lista-de-Produtos" target="_blank" class="icoGithub">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bd-dark text-center fs-6 py-3">
       <small><p class="text-light fs-6">Délis Edwirges &copy; 2021 todos os direitos reservados. </p></small>

    </div>
</footer>